---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I'm currently a first-year Ph.D. student at the <a href="https://sites.uw.edu/urbdpphd/">Urban Design & Planning Interdisciplinary Ph.D. Program</a> 
    at the University of Washington, advised by <a href="https://urbdp.be.uw.edu/people/jan-whittington/">Prof. Jan Whittington</a> and
    <a href="https://urbdp.be.uw.edu/people/qing-shen/">Prof. Qing Shen</a>. I'm also a part of the <a href="https://uil.be.uw.edu/">Urban Infrastructure Lab</a>
    at UW and the oversea city observer in <a href="http://www.urbanchina.com.cn/">Urban China Magazine</a>. 
    I always have had a passion for all space and phenomena in cities and now my research interests lie in infrastructure planning, 
    urban carbon governance, and the combination of urban studies and data science. 
    Check my CV <a href="{{ site.baseurl }}/assets/cv/cv_web.pdf">here</a>.
  </p>
</div>

<div class="docs-section" id="courseworks">  
  <h4>Courseworks</h4>
  <p>
    During my Ph.D. stage, I plan to complete several course clusters, including public policy and institutions, climate change, infrastructure finance, 
    data science and statistics, for getting a solid knowledge background at the beginning of two years. 
    The arrangement is a continuation of my previous master's degree at UW which focused on Urban Informatics and Technologies. 
    And please check my <a href="https://yohaoyu.github.io/pages/phd-curriculum">full coursework list here</a> to see what I've done and my future plans.
  </p> 
</div>

<span class="anchor" id="news"></span>
<div class="docs-section">
  <h4>News</h4>
  <!-- <p> Scroll for older news </p> -->
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:150px;">
    <li><b>[11/03/22]</b> Attended ACSP 2022 in Toronto and Presented the Master Thesis on Climate Investment and Green Gentrification in San Francisco-Oakland-Berkeley Bay Area.</li>
    <li><b>[09/28/22]</b> Started the PhD in Urban Design and Planning at the University of Washington.</li>
    <li><b>[06/18/22]</b> Graduated from Master of Urban Planning Program at the University of Washington.</li>
    <li><b>[10/15/21]</b> Attended ACSP 2021 with Prof. Christine Bae on Effects of Zoning and Land Use Policies on Land Value and Densification in the City of Seattle.</li>
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== 
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

-->

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

 <!--
========== RESUME ========== 
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full Curriculum Vitae in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
-->


<div class="docs-section" id="template">
    <h4>Acknowledgement</h4>
    This website uses the website design and template by <a href="https://web.stanford.edu/~msaveski/">Martin Saveski</a>.
</div>
