<div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.github.url }}{{ page.url }}&amp&sharesource=qzone&title={{ page.title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
   
  </div>
</div>

http://service.weibo.com/share/share.php?appkey=4122844478&title=Chinese%20President%20Xi%20Jinping%20stresses%20learning%20CPC%20history%20in%20article%20to%20be%20published%20tomorrow&url=https%3A%2F%2Fnews.cgtn.com%2Fnews%2F2021-03-31%2FXi-stresses-learning-CPC-history-in-article-to-be-published-tomorrow-Z5fLepalAQ%2Findex.html%23&pic=&searchPic=true&style=simple
https://twitter.com/intent/tweet?text=Chinese%20President%20Xi%20Jinping%20stresses%20learning%20CPC%20history%20in%20article%20to%20be%20published%20tomorrow&url=https%3A%2F%2Fnews.cgtn.com%2Fnews%2F2021-03-31%2FXi-stresses-learning-CPC-history-in-article-to-be-published-tomorrow-Z5fLepalAQ%2Findex.html%23&via=cgtnofficial
